$ cat .gitignore
#Whitelist
/*

#Folders
!/config
!/defaultconfigs
!/patchouli_books
!/resources
!/oresources
!/scripts
!/kubejs
!/structures

#Files
!/.gitignore
!/README.md

#Special Ignored
config/oculus.properties
config/xaerominimap_entities.json
config/roughlyenoughitems/pinyin_double.properties
config/roughlyenoughitems/pinyin.properties
